<div class="content content-sin-page-title">
   <div class="atencion-content">
      <h1 class="atencion-title">NUTRICIÓN</h1>

      <%= render 'data_paciente', paciente: data[:paciente] %>
   </div>
</div>