<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>
    <li><a href="#messages" data-toggle="tab">Messages</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
   <div class="tab-content">
     <div class="tab-pane fade in active" id="home">HOME</div>
     <div class="tab-pane fade" id="profile">PROFILE</div>
     <div class="tab-pane fade" id="messages">MESSAGES</div>
     <div class="tab-pane fade" id="settings">SETTINGS</div>
   </div>

</div>
<br>