<div class="content content-sin-page-title">
   <div class="fichas-consultas-content">
      <h1>Bienvenido a la sección Atención Profesional</h1>
      <% if current_user.es_doctor? %>
          <h3>El panel lateral lista los pacientes que sacaron turno con usted en la fecha especificada </h3>
      <% else %>
         <h3>Seleccione un área y un profesional de la salud </h3>
         <h3> El panel lateral lista los pacientes que sacaron turno en la fecha especificada</h3>
      <% end %>
   </div>
</div>