/* Este archivo define el aspecto de los show de historial */
$data-border-color: #CCCCCC;
$panel-border-color: #999999;
$panel-background-color: #F5F5F5;

.historial-content{
   background: white;
   padding: 30px 20px 30px 20px; //Top Right Bottom Left
}

.historial-title{
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
}

/* Aspecto de los paneles usados en el show de historial
   Esta es una versión propia, no se usa el panel de bootstrap porque relantiza la impresión del pdf
*/
.panel-historial{
   border: 1px solid $panel-border-color;
   border-radius: 4px;
   margin-bottom: 20px;
    .panel-heading{
      font-weight: bold;
      font-size: 18px;
      border-bottom: 1px solid $panel-border-color;
      background-color: $panel-background-color;
      color: #333333;
    }
    .panel-body{
      h4{
        color: gray;
        font-size: 16px;
      }
      hr {
        color: #333333;
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
}

/* Define el aspecto de los datos mostrados en el show de historial */
// Muestra el borde inferior, una linea debajo del dato mostrado
.bottom-border{
   border-bottom: 1px solid $data-border-color;
   min-height: 22px;
   word-break: break-all;
}

// Muestra todos los bordes, encuadra el dato mostrado
.all-border{
   border: 1px solid $data-border-color;
   border-radius: 3px;
   padding-left: 5px;
   padding-right: 5px;
   word-break: break-all;
   min-height: 22px;
}

/* Muestra el borde superior */
.top-border{
   border-top: 1px solid $panel-border-color;
   padding-top: 5px;
}