/* Este archivo define el aspecto de los show de historial */
.historial-content{
   background: white;
   padding: 30px 20px 30px 20px; //Top Right Bottom Left
}

.historial-title{
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
}



