<div class="row">
   <%= data('Profesional de la Salud', ficha.doctor_full_name,'col-md-9') %>
   <%= data('Fecha', date(ficha.fecha),'col-md-3') %>
</div>
<div class="row">
   <%= data('Nombre del Tutor', ficha.nombre_tutor,'col-md-8') %>
   <%= data('Telefono del Tutor', ficha.tel_tutor,'col-md-4') %>
</div>