<div class="row">
   <%= data('Profesional de la Salud', ficha.doctor_full_name,'col-xs-9') %>
   <%= data('Fecha', date(ficha.fecha),'col-xs-3') %>
</div>
<div class="row">
   <%= data('Nombre del Tutor', ficha.nombre_tutor,'col-xs-8') %>
   <%= data('Telefono del Tutor', ficha.tel_tutor,'col-xs-4') %>
</div>