<div class="row">
   <%= data('Profesional de la Salud', control.doctor_full_name,'col-md-9') %>
   <%= data('Fecha', date(control.fecha),'col-md-3') %>
</div>
<div class="row">
   <%= data_text('Tratamiento', control.tratamiento,'col-md-12') %>
   <%= data_text('Observaciones', control.observaciones,'col-md-12') %>
</div>