<div class="row">
   <%= data('Profesional de la Salud', control.doctor_full_name,'col-xs-9') %>
   <%= data('Fecha', date(control.fecha),'col-xs-3') %>
</div>
<div class="row">
   <%= data_text('Tratamiento', control.tratamiento,'col-xs-12') %>
   <%= data_text('Observaciones', control.observaciones,'col-xs-12') %>
</div>