<% if !flash.notice.blank? %>
   //Reemplaza el formulario de nuevo control con el control recien creado
   $('#control-new').html("<%= j render 'atenciones_profesionales/nutricion/data_control', control: @control %>");

   //Borra los formularios de consulta
   //$('#con-ped-new').html("<h2> Nada que hacer </h2>");
   //$('#con-ad-new').html("<h2> Nada que hacer </h2>");
   var n = noty({text: '<%=notice%>', type: 'success'});
<% elsif !flash.alert.blank?%>
   var n = noty({text: '<%=alert%>', type: 'error'});
<% else%>

<% end %>