    body  {
      .form-signin{
        margin-top: 100px;
        margin-left: 200px;
        //background-color: #eee;
      }
      
    }

    .form-signin {
      max-width: 400px;
      padding: 30px;
      margin: 0 auto;
      border: solid;
      border-radius: 20px;
      border-color: gray;
      border-width: 1px;
      background-color: white;
      color: gray;
      font-family: arial;
      font-size: 12pt;

      #username-error, #password-error {
        padding-bottom: 30px;
        margin-left: 43px;
      }

      .form-signin-heading {
        text-align: center;
        margin-top:0px;
        margin-bottom: 20px;
        font-weight: bold;
      }
      
      > h2 > span {
       font-size: 60px;
      } 
    }

    p {
    	text-align: right;
    	padding-right: 30px;
    }

    p#remember_me_holder{
    	margin-top: 20px;
    }

    .login_message {
    	color: #F0AD4E;
    	padding-bottom: 20px;
    }

  /* Los siguientes dos son para error de validación*/
  .text-error {
    color: #DD4B39;
  }

  .input-error{
    border-color:#DD4B39; 
    border-width: 1px;
  }