  $navbar-logo-color: #F7F702;
  $navbar-default-bg: #474747;

  $navbar-default-link-active-bg: #23C0C0;
  $navbar-default-link-active-color: white;
  $navbar-default-link-disabled-color: gray;
  $navbar-default-link-hover-color: #23C0C0;;
  $navbar-default-link-color: white;

  $navbar-icon-size: 11pt;
  $navbar-font-size: 12pt;

  // Custom navbar
  .navbar-custom {
    background-color: $navbar-default-bg;
    border-color: $navbar-default-border;
    margin-bottom: 0px;
    font-size: $navbar-font-size;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    min-height: 30px;
    height: 30px;
    .navbar-brand {
      color: $navbar-default-brand-color;
      &:hover,
      &:focus {
        color: $navbar-default-brand-hover-color;
        background-color: $navbar-default-brand-hover-bg;
      }
      span{
        color: $navbar-logo-color;
        font-size: $navbar-font-size;
        font-weight: bold;
      }
    }
    
    .navbar-brand {
      padding-top: 5px;
      padding-bottom: 25px;
    }

    .navbar-nav > li > a {
      padding-top: 6px;
      min-height: 30px;
      height: 30px;
    }

    .navbar-text {
      color: $navbar-default-color;
    }

    .navbar-nav {
      > li > a {
        color: $navbar-default-link-color;
        
        &:hover,
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }

        span{
          font-size: $navbar-icon-size;
        }

      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-active-color;
          background-color: $navbar-default-link-active-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-disabled-color;
          background-color: $navbar-default-link-disabled-bg;
        }
      }
    }

    .navbar-toggle {
      border-color: $navbar-default-toggle-border-color;
      &:hover,
      &:focus {
        background-color: $navbar-default-toggle-hover-bg;
      }
      .icon-bar {
        background-color: $navbar-default-toggle-icon-bar-bg;
      }
    }

    .navbar-collapse,
    .navbar-form {
      border-color: $navbar-default-border;
    }

    // Dropdown menu items
    .navbar-nav {
      // Remove background color from open dropdown
      > .open > a {
        &,
        &:hover,
        &:focus {
          background-color: $navbar-default-link-active-bg;
          color: $navbar-default-link-active-color;
        }
      }

      @media (max-width: $grid-float-breakpoint-max) {
        // Dropdowns get custom display when collapsed
        .open .dropdown-menu {
          > li > a {
            color: $navbar-default-link-color;
            &:hover,
            &:focus {
              color: $navbar-default-link-hover-color;
              background-color: $navbar-default-link-hover-bg;
            }
          }
          > .active > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-default-link-active-color;
              background-color: $navbar-default-link-active-bg;
            }
          }
          > .disabled > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-default-link-disabled-color;
              background-color: $navbar-default-link-disabled-bg;
            }
          }
        }
      }
    }


    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.

    .navbar-link {
      color: $navbar-default-link-color;
      &:hover {
        color: $navbar-default-link-hover-color;
      }
    }

    .btn-link {
      color: $navbar-default-link-color;
      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
      }
      &[disabled],
      fieldset[disabled] & {
        &:hover,
        &:focus {
          color: $navbar-default-link-disabled-color;
        }
      }
    }
  }

  .logo-color{
    color: $navbar-logo-color;
  }

  .dropdown-menu > li > a{
    &:hover,
    &:focus {
      color: #23C0C0;
      background-color: #F5F5F5;
    }

  }
