/** 
 * Este archivo establece el estilo para los formularios y sus labels, inputs, select, etc.  
 */

// MIXINS
// Color utilizado para los mensajes de validación
$has-error-color: #dd4b39;

/**
 * Establece el color de los textos de las validaciones y los bordes de los input y select validados 	
 */ 
.has-error{
	color: $has-error-color;
}

.form-group.has-error {
	//- lo ideal es usar .control-label en vez de label ya que es especifico para los form-group de bootstrap
	label {
  		color: $has-error-color;
	}
	
	.form-control {
	  border-color: $has-error-color;
	  box-shadow: none;  
	}
}

.has-error .select2-container--focus .select2-selection,
.has-error .select2-container--open .select2-selection {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  border-color: $has-error-color !important;
}

.has-error.select2-drop-active {
  border-color: $has-error-color !important;
}

.has-error.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: $has-error-color !important;
}

.has-error .select2-dropdown,
.has-error .select2-selection {
  border-color: $has-error-color !important;
}

.label-inline {
	color: black;
	font-size: 14px;
}