.welcome-content{
   background-color: white;
   text-align: center;
   padding: 10px 0px 50px 0px; //Top Right Bottom Left
}

.fichas-consultas-content{
   background-color: white;
   text-align: center;
   padding: 10px 0px 50px 0px; //Top Right Bottom Left
}