


// Por ahora esto sirve para fichas fisioterapia adulto y el index de turnos

// me refiero a todo el contenido desde aqui

/* Define lo referente al aspecto del título de página Ej.: Turnos, y los iconos listar, editar, eliminar, etc.
   que se encuentran a la derecha de ese título
*/
#principal-content {
	.page-title {
		//Posición fija
		position: fixed;
		right: 0;
		left: 0;
		top: 55px;
		z-index: 1030;

		background-color: #FEFEFE;
		border-bottom: solid;
		border-color: #CCCCCC;
		font-size: 24px;
		height: 50px;
		font-weight: bold;
		padding-top: 7px;
		padding-left: 50px;
		padding-right: 20px;

		a {
			margin-left: 13px;
			color: #999999;
			font-size: 26px;
			text-decoration: none;
			i.fa-plus-square, i.fa-search-plus, i.fa-print, i.fa-list,i.fa-list-ul, i.fa-trash-o, i.fa-edit {
				&:hover,
				&:focus {
					color: #24C1C1;
				}
			}
		}

	}

	// Cuando se tiene el sidebar hay que agregar la clase page-title-con-sidebar al div de titulo de página
	div.page-title-con-sidebar{
		margin-left: 200px;
	}

	// Cuando no se tiene submenu hay que agregar la siguiente clase, junto a page-title
	div.page-title-sin-submenu{
		top: 40px;
	}
}

/* Define lo referente al contenido principal de los index */
#principal-content {
	.content2{
		margin-top: 75px;

		#advanced-search{
			margin-left: auto;
			margin-right: auto;
			background: #EFEFEF;
			width: 90%;
			height: 100px;
			padding: 20px 50px 0px 50px; //Top Right Bottom Left
			border: solid;
			border-color: #CCCCCC;
			border-width: 1px;
			margin-bottom: 20px;
		}

		// Cuando se tiene el sidebar hay que agregar la clase advanced-search-con-sidebar al div de busqueda avanzada
		div.advanced-search-con-sidebar{
			width: 100% !important;
		}

		#list {
			margin-left: auto;
			margin-right: auto;
			background: white;
			width: 90%;
			padding-left: 50px; //sola linea
			padding-right: 50px;
			padding-top: 50px;
			padding-bottom: 1px;
		}

		// Cuando se tiene el sidebar hay que agregar la clase list-con-sidebar al div de lista
		div.list-con-sidebar{
			width: 100% !important;
		}

		#list-paginate{
			text-align: right;
			margin-left: auto;
			margin-right: auto;
			background: white;
			width: 90%;
			padding-left: 50px;
			padding-right: 50px;
		}

		// Cuando se tiene el sidebar hay que agregar la clase list-paginate-con-sidebar al div de paginación
		div.list-paginate-con-sidebar{
			width: 100% !important;
		}
	}
}

/* Define el aspecto de los formularios */
#principal-content{
	.form-content2{
		margin-top: 75px;

		form{
			width: 70%;
			background: white;
			margin-left: auto;
			margin-right: auto;
			padding: 50px;
			padding-top: 30px;
			padding-bottom: 30px;

			h4 {
				font-weight: bold;
				color: #999999;
			}
			h5{
				font-weight: bold;
			}

			h4.titulo-ficha{
				text-align: center;
				margin-bottom: 20px;
			}

			hr {
				margin-top: 5px;
				color: #999999;
			}

			.row{
				.form-group{
					label{
						font-size: 14px;
						font-weight: bold;
					}
				}

				div.select.text-error{
					span.text-error{
						position: relative;
						padding-left:20px;
						top:45px;
					}
					span.select2-container{
						position: relative;
						top:-14px;
					}

				}

			}


			.form-button{
				text-align: right;
			}

		}

		form.form-ficha2{
			width: 100%;
		}
		form.nueva-consulta{
			width: 93%;
		}

	}
}