
/* Si el texto es muy largo, esta clase lo corta */
.crop {
	word-break: break-all;
}​

.checkbox {}
/* Lo anterior se necesita para que lo siguiente funcione. Porque? */
.form-empleado{
	.row{
		.checkbox{
			padding-top: 20px;
		}
	}
}

.titulos-campos{
	font-weight: normal;
	font-size:medium;
}

.titulos{
	font-size: 24px;
	font-weight: bold;
}
.menu-profile{
	width: 28px;
	height:28px;
	border-radius:100%;
	margin-top:-5px;
}

label.label-title {
	font-weight: bold;
	color: #999999;
	font-size: 20px;
}

.modal-body {
	h5 {
		font-weight: bold;
		font-size: 15px;
		color: gray;
	}
}

.modal-title{
	color: gray;
	font-weight: bold;
}



#principal-content {

	.form-content{

		.page-title {
			//Posición fija
			position: fixed;
			right: 0;
			left: 0;
			top: 55px;
			z-index: 1030;

			background-color: #FEFEFE;
			border-bottom: solid;
			border-color: #CCCCCC;
			font-size: 24px;
			height: 50px;
			font-weight: bold;
			padding-top: 7px;
			padding-left: 50px;
			padding-right: 20px;

			a {
				margin-left: 13px;
				color: #999999;
				font-size: 26px;
				text-decoration: none;
				i.fa-plus-square, i.fa-search-plus, i.fa-print, i.fa-list,i.fa-list-ul, i.fa-trash-o, i.fa-edit {
					&:hover,
					&:focus {
						color: #24C1C1;
					}
				}
			}

		}


		div.page-title-sin-submenu{
			top: 40px;
		}

		div.page-title-auto{

			margin: 0 0 0 auto;
		}

		div.page-title-ficha{
			margin-left: 200px;
		}
	}

	.form-content{

		.page-title > .tool {
			text-align: right;
		}

		form{
			width: 70%;
			background: white;
			margin-left: auto;
			margin-right: auto;
			padding: 50px;
			padding-top: 30px;
			padding-bottom: 30px;
			margin-top: 105px;

			h4 {
				font-weight: bold;
				color: #999999;
			}


			hr {
				margin-top: 5px;
				color: #999999;
			}

			.row{
				.form-group{
					label{
						font-size: 14px;
						font-weight: bold;
					}
				}
				/*
				.nomb-empresa{
					margin-left:-15px;
				}

				div.select.text-error{
					span.text-error{
						position: relative;
						padding-left:20px;
						top:45px;
					}
					span.select2-container{
						position: relative;
						top:-14px;
					}

				}*/

			}




			.form-button{
				text-align: right;
			}

		}

		form.form-sin-submenu{
			margin-top: 90px;
		}
		form.form-ficha{
			width: 100%;
			margin-top: 80px;
		}

		form.form-ficha-mediano{
			width: 85%;
			margin-top: 80px;
		}

		form.small-form {
			width: 40%;
		}

		form.medium-form {
			width: 60%;
			margin-top:80px;
		}
	}
}

/* Esto es especifico para el modal de turnos */
/*
form{
	h4 {
		font-weight: bold;
		color: #999999;
	}

	hr {
		margin-top: 5px;
		color: #999999;
	}

	.row{
		.form-group{
			label{
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}*/