<div class="row">
  <%= data('Profesional de la Salud', ficha.doctor_full_name,'col-xs-9') %>
  <%= data('Fecha', date(ficha.fecha),'col-xs-3') %>
</div>
<div class="row">
  <%= data('Grado que Cursa', ficha.escolaridad,'col-xs-4') %>
  <%= data('Escuela', ficha.escuela,'col-xs-8') %>
</div>