<div class="page-title page-title-con-sidebar">
	Historial Clínico
	<div class="tool">
		<%= link_to '<i class="fa fa-list" data-toggle="tooltip" title="Lista de Historiales"></i>'.html_safe, historiales_fisioterapeuticos_path %>
	</div>
</div>
<div class="content">
	<div class="form-content">
      <h4 class="titulo-ficha">HISTORIAL DE FISIOTERAPIA</h4>
   </div>
<div>

