<div class= "content">

	<i id="nuevo-usuario" class="fa fa-plus-square fa-2x"></i>

	<div id="list">
		 <%= render 'list' %>
	</div>

</div>
<script type="text/javascript">
	$("#nuevo-usuario").click(function(){
	    $.get('usuarios/new', function(data){
	    	$("div.content").html(data);
		},    'html');
	});
</script>
