/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 /*
  * Guidelines de referencia:
  * http://cssguidelin.es/
  * https://sass-guidelin.es/
  */

//vendors gems
@import "bootstrap-sprockets";
@import "bootstrap";

@import "layouts/non-responsive-bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

// vendors
@import "vendors/select2.min";
@import "vendors/select2-bootstrap";
@import "vendors/bootstrap-datepicker3";
@import "vendors/simple-sidebar.css";
@import "vendors/perfect-scrollbar.min.css";

//MIXINS
// color muy común en toda la aplicación
$common-color: #24C1C1;
// color del botón común cuando se le pasa el puntero por encima
$hover-btn-custom-color: #24C199;
// color de los iconos de eliminar cuando se le pasa el puntero por encima
$hover-icon-trash-color: #FF1414;
// color que se usa para representar errores y mensajes de validación
$has-error-color: #dd4b39;

//components
@import "components/advanced-search";
@import "components/buttons";
@import "components/datepicker";
@import "components/alert-messages";
@import "components/page-title";
@import "components/panel";
@import "components/tabs";
@import "components/modal";

//layout
@import "layouts/welcome";
@import "layouts/login";
@import "layouts/menu";
@import "layouts/submenu";
@import "layouts/sidebar";
@import "layouts/forms";
@import "layouts/pages";

//modules
@import "modules/atenciones";
@import "modules/configuraciones";
@import "modules/empleados";
@import "modules/historiales";
@import "modules/usuarios";