<div class="modal-header">

	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="row">
    	<h4 class="modal-title col-md-4">
		 <%=@usuario.id.nil? ? 'Agregar Usuario' : 'Editar Usuario'%>
	    </h4>
	<div class="col-md-6">
		<select class ="form-control" id="empleado_id" name="empleado_id">
	       <option value="">Seleccione un empleado </option>
	       <%@empleados.each do |empleado|%>
		        <option value="<%= empleado.id%>">
		       	    ci: <%= empleado.id%>, nombre:<%=empleado.persona.nombre%>
		        </option>
	       <%end%>
		</select>
	</div>	
</div>
	
</div>

<div class= "modal-body">
	<div class ="empleado">

	</div>
</div>