<div id="modal-sm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">


		</div>
	</div>
</div>

<div id="modal-lg" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">


		</div>
	</div>
</div>