<div id="header">
  <div class="row">
    <div class="col-md-3 logo">
     <%=wicked_pdf_image_tag 'logo-cenade.png',width: '90',  height: '85'%>       
   </div>  
   
   <div class="col-md-6">
     <h1> CENADE </h1>
     <h6> Centro de Ayuda al Discapacitado Encarnación </h6>
     <h6> Personería Jurídica Nº 22.681 - 23 de Julio de 1986 </h6>
     <h6> <%=@configuracion_general.empresa_direccion%> </h6>
     <h6> Tel: <%=@configuracion_general.empresa_tel%> </h6>
   </div>   
 </div>  
</div> 
<hr>  