<div id="sidebar-wrapper">
<ul class="sidebar-nav">
                <li>
                    <a href="#">Clínico</a>
                </li>
                <li>
                    <a href="/fichas_fisioterapeuticas_adultos">Fisioterapia Adulto</a>
                </li>
                <li>
                    <a href="/ficha_fisioterapia_ninos">Fisioterapia Pediátrica</a>
                </li>               
            </ul>
</div>