<div id="sidebar-wrapper"style="background-color: white">
    <ul class="sidebar-nav" >
    	<div class="profile-photo ">
		    	<%if current_user.profile_foto.blank? %>		    		
		    		<%=image_tag("sinUsuario", :width => 150, :height => 150) %>
		    	<% else %>
		    		<%= image_tag(current_user.profile_foto_url.to_s, :width => 150, :height => 150) %>    		
		        <% end %><br>
      	</div>
      	
      	<div class="profile-photo">
			<label ><%=current_user.username%></label>
		</div>	

      	<div class="label-profile"> 
	      
      	</div>
    </ul>
</div>