<div id="sidebar-wrapper" class="wrapper-line">
<ul class="sidebar-nav">
                <li class="sidebar-brand">

                        Seleccione

                </li>
                <li>
                    <a href="#">Día</a>
                </li>
                <li>
                    <a href="#">Mes</a>
                </li>
                <li>
                    <a href="#">Año</a>
                </li>
            </ul>
</div>