  <nav class="navbar navbar-submenu">
    <div class="container-fluid">
      
      <div>
        <ul class="nav navbar-nav">        

          <li class="<%= current_submenu([empleados_path])%>">
            <%=link_to 'Empleados', empleados_path %>
          </li>
                  
          <li><a href="#">
            
            Horarios </a>
          </li>        
                       

        </ul>
        
      </div>
    </div><!-- /.container-fluid -->
  </nav>