  <nav class="navbar navbar-submenu">
    <div class="container-fluid">
      
      <div>
        <ul class="nav navbar-nav">        

          
            <li class="<%= current_submenu([edit_configuracion_path(Configuracion.first), configuracion_path(Configuracion.first)])%>">
            <%=link_to 'Sistema', edit_configuracion_path(Configuracion.first) %>
          
          </li>

          <li class="<%= current_submenu([usuarios_path])%>">
            <%=link_to 'Usuarios', usuarios_path %>
          </li>

          <li><a href="#">
            
            Roles</a>
          </li>
          
          <li><a href="#">
            
            Mi Perfil</a>
          </li>               

        </ul>
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>