<div id="sidebar-wrapper">
<ul class="sidebar-nav">
                <li>
                    <a href="#">Clínico</a>
                </li>
                <li>
                    <a href="#">Fisioterapia Adulto</a>
                </li>
                <li>
                    <a href="/ficha_fisioterapia_ninos">Fisioterapia Pediátrica</a>
                </li>  
                <li>
                    <a href="/fichas_fonoaudiologicas">Fonoaudiología</a>
                </li> 
                <li>
                    <a href="/fichas_psicopedagogicas">Psicopedagogía</a>
                </li>                
            </ul>
</div>