<div id="sidebar-wrapper">
<ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                        Pacientes
                    
                </li>
                <li>
                    <a href="#">Jose Perez</a>
                </li>
                <li>
                    <a href="#">Maria Delvalle</a>
                </li>
                <li>
                    <a href="#">Liz Duarte</a>
                </li>               
            </ul>
</div>