<div class="page-title page-title-sin-submenu">
</div>

<div class="content content-sin-submenu content-50">
   <div class="welcome-content">
      <%=image_tag(@configuracion_general.empresa_logo.blank? ? "logo-cenade": @configuracion_general.empresa_logo_url.to_s, :width => 200, :height => 200) %>

      <h1>BIENVENIDO</h1>
   </div>
</div>
