<% @submenu_layout = 'layouts/submenu_configuracion' %>

<div class="page-title">
</div>

<div class="content">
   <div class="fichas-consultas-content">
      <h1>Bienvenido a la sección Configuración</h1>
      <h3>El submenu contiene las interfaces accesibles para usted en esta sección</h3>
   </div>
</div>