<% @submenu_layout = 'layouts/submenu_fichas_consultas' %>
<% @sidebar_layout = 'layouts/sidebar_fichas' %>

<div class="page-title page-title-con-sidebar">
</div>

<div class="content">
   <div class="fichas-consultas-content">
      <h1>Bienvenido a la sección Fichas</h1>
      <h3>El panel lateral contiene las interfaces accesibles para usted en esta sección</h3>
   </div>
</div>
